<extend name="./Application/Home/View/base.html"/>
<block name="customCSS">
  <link href="__PUBLIC__/css/custom/index/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</block>
<block name="body">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"> MyPapers</h1>
        <div class="row center">
          <h5 class="header col s12">Artificial Intelegence enhanced past-paper centre.</h5>
        </div>
        <div class="row center">
          <a href="<?=U('home/list/catebase');?>" class="waves-effect waves-light btn-large">Get Started</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="__PUBLIC__/res/index/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m6 l3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fa fa-rocket"></i></h2>
            <h5 class="center">Speeds up your revision</h5>
            <p class="light">All the papers were well sorted and tagged by USERS and AI. Everyone's little <strong>contributions</strong> may result in huge difference. Advanced <strong>machine learning algorithms</strong> enables computers to download or analize the unsorted papers by themselves.</p>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fa fa-users"></i></h2>
            <h5 class="center">User's Power</h5>
            <p class="light">Our cloud sorting system encourages users to help tag the papers they viewed. The more contributions, the better the papers are tagged, and ,of course, the more convinient it will be. Your tiny contribution may result in a big difference!</p>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fa fa-connectdevelop"></i></h2>
            <h5 class="center">Always up to date</h5>

            <p class="light">Our webspiders will check for newly issued papers <strong>tirelessly</strong>. And if you are kind enough to help, please don't hesitate to <strong>share</strong> your latest papers with all the users who have sorted papers for you. <a href="#">click here to upload</a></p>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fa fa-lightbulb-o"></i></h2>
            <h5 class="center">Intelligent searching/viewing</h5>

            <p class="light">Our data mining algorithm and cloud sorting system can bring you ulitmate convinience in finding what you want. Only one click is needed to search for labeled key-points through hundreds of papers or to look through the most delicate collection of questions in specific chapter!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 brown-text light">Material Design by SCIE IT Club.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="__PUBLIC__/res/index/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3> <i class="fa fa-gift fa-3x"></i></h3>
          <h4>It is also <strong>your</strong> website!</h4>
          <p class="left-align light">Everything on this website can be <strong>downloaded in batches(compressed ZIP)</strong>. We will make no effort to reserve our resources and try try to provide the best download service. We also ask for your contributions to the <strong>sorting of the papers and the key points</strong>.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Experience machine learning and experience the <strong>future</strong>!</h5>
          <h5>Currently Catagorized: {$papernum|default="0"} questions!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="__PUBLIC__/res/index/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
</block>
<block name="footercontent">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">SCIE IT Club</h5>
        <p class="grey-text text-lighten-4">We are a team of highschool students working to improve the life of our classmates and to benefit the school.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">What is text mining?</h5>
        <p class="white-text">Text mining, also referred to as text data mining, roughly equivalent to text analytics, refers to the process of deriving high-quality information from text.</p>
        <p class="white-text">We are using this thechnology to analze the papers in order to catagorize them.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="http://www.scieit.tk">Homepage</a></li>
          <li><a class="white-text" href="http://cms.scie.cf">MyCMS</a></li>
        </ul>
      </div>
    </div>
  </div>
</block>
<block name="customJS">
  <script src="__PUBLIC__/js/custom/index/init.js"></script>
</block>