<block name="customCSS">
</block>
<body style="display:none">
<block name="navbar">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="<?=U('index/index')?>" class="brand-logo">MyPapers</a>
      <ul id="nav-mobile" class="side-nav">
        <li><a class="waves-effect" href="#">Get Started</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="fa fa-navicon"></i><!-- <i class="material-icons">menu</i> --></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect" href="#">Get Started</a></li>
      </ul>
    </div>
  </nav>
</block>
<block name="body">
</block>
<footer class="page-footer teal">
  <block name="footercontent">
  </block>
  <div class="footer-copyright">
    <div class="container">
    By <a class="brown-text text-lighten-3" href="http://www.scieit.tk">IT Club</a>
    </div>
  </div>
</footer>
  <!--  Scripts-->
<script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/js/materialize.min.js"></script>
<script src="__PUBLIC__/js/custom/index/init.js"></script>
<script src="__PUBLIC__/js/custom/catebase/search.js"></script>
<block name="customJS">
</block>
<script>
  $(document).ready(function(){
    $("#preloader").remove();
    $("body").show();
  });
</script>
</body>
</html>
</block>