<extend name="./Application/Home/View/base.html"/>
<block name="body">
	<div class="row">
        <div class="input-field col s12">
          <input id="search" type="search" class="validate col s10">
          <label for="search">Search</label>
           <button class="btn waves-effect waves-light col s1 offset-s1" type="submit" id="submit" name="action">Submit
          </button>
        </div>
    </div>
	<ul class="collapsible popout" data-collapsible="accordion">
	    <?php foreach($subjects as $subject){?>
	    	<li>
	    	  <div class="collapsible-header">
		    	  <i class="fa  fa-bookmark-o"></i><?=$subject['subject_name']?> <?=$subject['subject_code']?>
		    	   <a class="right waves-effect waves-light btn" href="http://<?=$_SERVER['HTTP_HOST']?>/Papers_DIR/packed/<?=$subject['subject_code']?>.zip"><i class="fa fa-cloud-download"></i>All</a>
	    	  </div>
	    	  <div class="collapsible-body"><p><?=$subject['subject_description']?></p>
	    	  </div>
	    	</li>
	    <?php } ?>
	</ul>
</block>